body{
	font-family: 'Raleway', sans-serif;
}

.img-responsive{
	width: 100%;
}

.logo{
	color: #fff;
	font-size: 18px;
	padding: 0 16rem;
	cursor: pointer;
	font-weight: 400;
}

.second-section{
	background-color: #34495e;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 5rem;
}

h1{
	color: white;
	font-weight: 400;
	margin-top: 10rem;
	font-size: 40px;
}

p{
	color: white;
	font-size: 30px;
	font-weight: 300;
}

.three-section{
	width: 100%;
	background-color: #f2f2f2;
	height: auto;
	padding: 7rem;
}

.firth{
	padding-top: 5rem;
}

.some{
	padding-top: 5rem;
	font-size: 20px;
}
.primeros{
	color: gray;
	font-size: 14px;
	font-weight: 300;
	padding-top: 2rem;
}

.contenido{
	margin-top: 5rem;
}

.design{
	color:#009dc5;
	font-size: 18px;
}

.four-section{
	background-color: #34495e;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 10rem;
}